{% extends 'base.html.twig' %}

{% block body %}
    <div class="profil">
<h2> {{ participant.pseudo }}</h2>

        {% if participant.imageName %}
            <img class="illussortie" src="{{ asset('images/participants/'~participant.imageName) }}" alt="">
        {% endif %}
        <ul>
            <li>Prenom : {{ participant.prenom }}</li>
            <li>Nom : {{ participant.nom }}</li>
            <li>Téléphone : {{ participant.telephone }}</li>
            <li>Email : {{ participant.mail }}</li>
            <li>Ville de rattachement : {{ participant.site.nom }}</li>
        </ul>
        <button><a href="{{ path('app_sorties_list') }}">Retour</a></button>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

