{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    {% if app.user.imageName %}
        <img src="{{ asset('images/participants/'~app.user.imageName) }}" alt="Photo de profil">
    {% endif %}

    <p>Pseudo : {{ participant.pseudo }}</p>
    <p>Prenom : {{ participant.prenom }}</p>
    <p>Nom : {{ participant.nom }}</p>
    <p>Telephone : {{ participant.telephone }}</p>
    <p>Email : {{ participant.mail }}</p>
    <p>Ville de rattachement : {{ participant.site.nom }}</p>

    <a href="{{ path('app_participantmodifier_profil') }}"><button>Modifier votre profil</button></a>
    <a href="{{ path('app_forgot_password_request') }}"><button>Nouveau mot de passe</button></a>
{% endblock %}

