{% extends 'base.html.twig' %}

{% block body %}

    <h2>Proposer une nouvelle sortie</h2>
    <div class="zoneFormulairesortie">
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.imageFile) }}
        {#        {{ form_row(sortieForm.urlPhoto) }} #}
        {{ form_row(sortieForm.ville) }}
        {{ form_row(sortieForm.lieu) }}

        {{ form_end(sortieForm) }}


        <div style="margin-top : 50vh">
            <p>Votre ville est absente ? </p>
            <button id="boutonVille">Créez la !</button>
        </div>


        <div id="modaleVille" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeVille" style=>&times;</span>
                <h2>Créer une nouvelle ville</h2>
                <div>{{ form_start(villeForm) }}
                    {{ form_row(villeForm.nom) }}
                    {{ form_row(villeForm.codePostal) }}
                    {{ form_end(villeForm, {render_rest : false}) }}
                    <button style="margin-left : 20vw; margin-top : 5px" id="boutonpersoVille">Enregistrer la ville
                    </button>

                </div>
            </div>
        </div>

        <div style="margin-top : 50vh">
            <p>Aucun lieu ne vous convient ? </p>
            <button id="boutonLieu">Créez en un nouveau !</button>
        </div>


        <div id="modaleLieu" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" id="closeLieu" style=>&times;</span>
                <h2>Créer un nouveau lieu</h2>
                <div>{{ form_start(lieuForm) }}
                    {{ form_row(lieuForm.nom) }}
                    {{ form_row(lieuForm.rue) }}
                    {{ form_row(lieuForm.latitude) }}
                    {{ form_row(lieuForm.longitude) }}
                    {{ form_row(lieuForm.ville) }}
                    {{ form_end(lieuForm, {render_rest : false}) }}
                    <button style="margin-left : 20vw; margin-top : 5px" id="boutonpersoLieu">Enregistrer le lieu
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div style="display : none" id="passagedevaleurs" data-liste="{{ liste }}"></div>
    <script src="{{ asset('JS/choixLieu.js') }}"></script>
    <script src="{{ asset('JS/ouvertureDeModaleLieu.js') }}"></script>
    <script src="{{ asset('JS/ouvertureDeModaleVille.js') }}"></script>


{% endblock %}

{% block title %}

{% endblock %}



