{% extends 'base.html.twig' %}

{% block body %}

    <h2>Proposer une nouvelle sortie</h2>

    {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.imageFile) }}
{#        {{ form_row(sortieForm.urlPhoto) }}#}
        {{ form_row(sortieForm.ville) }}
        {{ form_row(sortieForm.lieu) }}

    {{ form_end(sortieForm) }}
    <p>Aucun lieu ne vous convient : <button id="myBtn">Créez en un nouveau</button></p>



    <div id="myModal" class="modal" >
        <!-- Modal content -->
        <div class="modal-content" style="background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */">
            <span class="close" style="color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;">&times;</span>
            <div>{{ form_start(lieuForm) }}{{ form_end(lieuForm) }}<button id="boutonperso">Enregistrer le lieu</button></div>
        </div>

    </div>

    <div style="display : none" id="passagedevaleurs" data-liste="{{ liste }}" ></div>
    <script src="{{ asset('JS/choixLieu.js') }}"></script>
    <script src="{{ asset('JS/ouvertureDeModale.js') }}"></script>


{% endblock %}

{% block title %}

{% endblock %}



