{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <img src="{{ sortie.urlphoto }}" alt="Illustration de la sortie">
    <h3>{{ sortie.nom }}</h3>
    <p> Lieu : {{ sortie.lieu.nom }} à {{ sortie.lieu.ville.nom }}</p>
    <p>Le {{ sortie.dateheuredebut | date("m/d/Y", "Europe/Paris")}}
        de {{ sortie.dateheuredebut | date("H:i")}}
        à -à faire-
{#        TODO : calculer la date de fin d'une sortie #}
    </p>
    <p>Organisé par {{ sortie.organisateur.pseudo }}, rattaché au campus de {{ sortie.siteorganisateur.nom }}</p>
    <p>{{ sortie.infossortie }}</p>
    <p>Capacité de l'evenement : {{ sortie.nbinscriptionsmax }} personnes</p>
    <div>
        <ul>Ils participent à cet evenement :</ul>
        {% for inscrit in inscrits %}
            <li>{{ inscrit.pseudo }}</li>
        {% endfor %}
    </div>
    {% if not app.user %}
        <p>Pour participer à cette sortie, <a href="{{ path("app_login") }}">connectez-vous</a></p>
    {% else %}
        {% if not isinscrit %}
            <p>{{ boutonInscription['motif']}}</p>
            {% if boutonInscription['inscriptionPossible'] %}
                <a type="button" href="{{ path('app_sorties_inscription', {'sortie':sortie.id}) }}">Cliquez ici</a>
            {% endif %}
        {% endif %}
        {% if isinscrit %}
            <p>{{ boutonDesistement['motif']}}</p>
            {% if boutonDesistement['desistementPossible'] %}
                <a type="button" href="{{ path('app_sorties_desinscription', {'sortie':sortie.id}) }}">Se désister</a>
            {% endif %}
        {% endif %}
    {% endif %}
 JC/implementation_dune_carte

    {{ include('sorties/carte.html.twig') }}


    {% if app.user %}
        {% if app.user.id==sortie.organisateur.id %}
            {{ include('sorties/supressionSortie.html.twig') }}
        {% endif %}
    {% endif %}
master
{% endblock %}

