{% extends 'base.html.twig' %}

{% block body %}

    <div class="zonederecherche" id="zonederecherche">
        <p><i class="fa-solid fa-chevron-right"></i> Rechercher une sortie</p>
    </div>
    <div class="formulairederecherche" id="formulairederecherche">
    {{ form_start(sortieFiltreForm) }}
    {{ form_row(sortieFiltreForm.name) }}
    {{ form_row(sortieFiltreForm.dateMin) }}
    {{ form_row(sortieFiltreForm.dateMax) }}
    {% if app.user %}
    {{ form_row(sortieFiltreForm.isOrganisateur) }}
    {{ form_row(sortieFiltreForm.isInscrit) }}
    {% endif %}
    {{ form_row(sortieFiltreForm.isPasse) }}
    {{ form_row(sortieFiltreForm.site) }}
    {{ form_end(sortieFiltreForm) }}
    </div>
    <script src="{{ asset('JS/formulairederecherche.js') }}"></script>

    <h2>Évènements créés par nos utilisateurs</h2>
    <div class="listesorties">
        {% for sortie in sorties %}
            {% if sortie.etat.libelle != 'Archivée' %}
           <a href="{{ path('app_sorties_detail', {'sortie':sortie.id}) }}">
            <div class="fichesortie">
               <h3>{{ sortie.nom }} </h3>
                <div class="contenufichesortie">
                    <div class = "textefichesortie">
                        <p><i class="fa-solid fa-location-pin" ></i> {{ sortie.lieu.nom }}, {{ sortie.lieu.ville.nom }}</p>
                        <p><i class="fa-solid fa-calendar" ></i> {{ sortie.dateheuredebut | date("d/m/Y", "Europe/Paris")}}
                                    {{ sortie.dateheuredebut | date("H:i")}}</p>
                        <a href="{{ path('app_participant_affichageParticipant',{'participant':sortie.organisateur.id}) }}">
                            <p class="organisateursortie"><i class="fa-solid fa-circle-user"></i> {{ sortie.organisateur.pseudo }}</p>
                        </a>
                    </div>
                {% if sortie.imageName %}
                    <img class="imageMiniature" src="{{ asset('images/sorties/'~sortie.imageName) }}" alt="">
                {% endif %}
                {% if sortie.urlphoto %}
                    <img class="imageMiniature" src="{{ sortie.urlphoto }}" alt="">
                {% endif %}
                </div>
           </div>
           </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}


