{% extends 'base.html.twig' %}

{% block body %}

{#    {{ form_start(sortieFiltreForm) }}#}
    {{ form_row(sortieFiltreForm.name) }}
    {{ form_row(sortieFiltreForm.dateMin) }}
    {{ form_row(sortieFiltreForm.dateMax) }}
    {% if app.user %}
    {{ form_row(sortieFiltreForm.isOrganisateur) }}
    {{ form_row(sortieFiltreForm.isInscrit) }}
    {% endif %}
    {{ form_row(sortieFiltreForm.isPasse) }}
    {{ form_row(sortieFiltreForm.site) }}
{#    {{ form_end(sortieFiltreForm) }}#}

    <h2>Evenements créés par nos utilisateurs</h2>
    <div>
        {% for sortie in sorties %}
            {% if sortie.etat.libelle != 'Archivée' %}
           <a href="{{ path('app_sorties_detail', {'sortie':sortie.id}) }}">
            <div>
               <h3>{{ sortie.nom }} <span> : {{ sortie.lieu.nom }}</span></h3>
                        <p>Prévu le {{ sortie.dateheuredebut | date("d/m/Y", "Europe/Paris")}} à
                                    {{ sortie.dateheuredebut | date("H:i")}}</p>
                <a href="{{ path('app_participant_affichageParticipant',{'participant':sortie.organisateur.id}) }}"> <p>Organisé par {{ sortie.organisateur.pseudo }}</p></a>
           </div>
           </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

